<div class="nested-fields">
    <div class="field">
      <%= f.label :disc_number %>
      <br>
      <%= f.text_field :disc_number %>
    </div>
<div class="nested-fields">
      <%= f.fields_for :songs do |song| %>
        <%= render 'song_fields', f: song %>
      <%end%>
      <div class="links">
        <%= link_to_add_association "曲の追加", f, :songs %>
      </div>
</div>