  <div class="item-edit-form">
      <div class="item-edit-text">
          <%= form_for @item, url:admin_item_path do |item| %>

          <div class="field">
          <br>
          <label>商品名</label>
          <br>
          <%= item.text_field :item_name %>
          <br>
          <label >価格</label>
          <br>
          <%= item.text_field :price %>
          <br>
          <label >在庫数</label>
          <br>
          <%= item.text_field :stock %>
          <br>
          <label >販売ステータス</label>
          <br>
          <label>販売中<%= item.radio_button :is_sold, 'true' %></label>
          <label>販売中止<%= item.radio_button :is_sold, 'false' %></label>
          <br>
          <label >画像</label>
          <br>
            <%= item.attachment_field :image, size: "100x100", fallback: "no_image.jpg" %>
          <br>
          <label>アーティスト</label>
            <%= item.collection_select :artist_id, Artist.all, :id, :artist_name, :include_blank => true %>
          <br>
          <label>レーベル</label>
            <%= item.collection_select :label_id, Label.all, :id, :label_name,  :include_blank => true %>
          <br>
          <label>ジャンル</label>
            <%= item.collection_select :genre_id, Genre.all, :id, :genre_name,  :include_blank => true %>
          <br>

          </div>
          <br>
        <div class ="field">
          <%= item.fields_for :discs do |disc| %>
          <div class="discs">
              <%= render 'disc_fields', f: disc  %>
          <% end %>
            <div class="links">
              <%= link_to_add_association 'ディスクの追加', item, :discs %>
            </div>
            <div class="actions">
              <%= item.submit '商品内容の変更を更新する', class:"btn btn-primary" %>
            </div>
          </div>
          <% end %>
        </div>
    </div>
  </div>