<main class="col-xs-9">
	<h1 class="addmin-item-index">All Items</h1><br>
	<% @items.each do |item| %>
	<div class="addmin-item-box">
		<%= link_to admin_item_path(item.id) do %>
		<div class="addmin-item-contents">
			<%= attachment_image_tag item, :image,  size: "200x200", fallback: "no_image.jpg", class:"item-contents-picture" %>
			<br>
			<%= item.item_name %><br>
			<%= item.price %>円（税別）<br>
			<% if item.stock > 0 %>
			<p>在庫　あり</p>
			<%else%>
			<p>在庫　なし</p>
			<%end%>
		</div>
		<% end %>
	</div>
	<% end %>
</main>
<div class="addmin-paginate-items">
	<%= paginate @items, class: "paginate" %>
</div>