<h1>新規商品追加画面</h1>
<div>
  	<%= form_for(@item, url: admin_items_path) do |item| %>
  	<div class="field">
		<br>
		<label>商品名</label>
		<br>
		<%= item.text_field :item_name %>
		<br>
		<label >価格</label>
		<br>
		<%= item.text_field :price %>
		<br>
		<label >在庫数</label>
		<br>
		<%= item.text_field :stock %>
		<br>
		<label >販売ステータス</label>
		<br>
		<%= item.check_box :is_sold %>
		<br>
		<label >画像</label>
		<br>
    	<%= item.attachment_field :image %>
		<br>
		<label >累計販売個数</label>
		<br>
		<%= item.text_field :order_count %>
		<label>アーティスト</label>
  		<%= item.collection_select :artist_id, Artist.all, :id, :artist_name %>
		<label>レーベル</label>
  		<%= item.collection_select :label_id, Label.all, :id, :label_name %>
  		<label>ジャンル</label>
  		<%= item.collection_select :genre_id, Genre.all, :id, :genre_name %>
	</div>
	<div class ="field">
	 <%= item.fields_for :discs do |disc| %>
          <%= disc.label :disc_number %>
          <%= disc.text_field :disc_number %>
          <br>
          <%= disc.fields_for :songs do |song| %>
          	  <%= song.label :song_name %>
              <%= song.text_field :song_name %>
              <%= song.label :song_number %>
              <%= song.text_field :song_number %>
          <% end %>
     <% end %>
    </div>
    <div class="actions">
      <%= item.submit %>
    </div>
<% end %>