<main class = "col-xs-9">
	<!-- ジャケット画像 -->
	<div class = "item-image-area col-xs-4">
		<%= attachment_image_tag @item, :image,  size: "250x250", fallback: "no_image.jpg" %>
	</div>
	<!-- 商品情報 -->
	<div class = "col-xs-8">
		<div class = "item-name-area col-xs-8">
			<!-- シングル、アルバム名 -->
			<h4 class = "item-title">シングル/アルバム名：</h4>
			<p class= "item-title-text1">
				<%= @item.item_name %>
			</p>
			<h4 class = "item-title">アーティスト名：<h4>
			<p class= "item-title-text1">
				<%= @item.artist.artist_name %>
			</p>
			<!-- 登録情報 -->
			<div class = "item-text-area panel panel-default">
				<h4>登録情報</h4>
				<h4 class= "item-title">レーベル名：</h4>
				<p class= "item-title-text2">
					<%= @item.label.label_name %>
				</p>
				<h4 class= "item-title">ジャンル：</h4>
				<p class= "item-title-text2">
					<%= @item.genre.genre_name %>
				</p>
			</div>
		</div>
		<!-- 価格情報 -->
		<div class = "edit-link-area col-xs-4">
			<%= link_to "商品編集ページへ", edit_admin_item_path, method: :get, class: "btn btn-primary" %>
		</div>
		<!-- 価格情報 -->
		<div class = "item-price-area well col-xs-4">
			<p class ="item-price-title" >取扱情報：<br>
				<% if @item.is_sold %>
					取り扱い中
				<% else %>
					取扱停止中
				<% end %>
			</p>
			<div class="panel">
				<p class="item-price-text">値段（税込）</p>
				<p class="item-price-number">¥
					<%= @item.price %>
				</p>
			</div>
			<br>
			<p class ="item-price-title" ><br>在庫：
			<% if @item.stock > 0 %>
				有り
			<% else %>
				無し
			<% end %>
			</p>
		</div>
	</div>
	<div class = "item-song-text-area col-xs-12">
		<p class = "item-title2"><%= @item.item_name %></p>

		<% @discs.each do |disc| %>
		<div class="disc-song-box col-xs-10">
			<table>
				<thead>
					<tr>
						<th>ディスク<%= disc.disc_number %></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
						</td>
					</tr>
					<tr>
						<% disc.songs.each do |song| %>
							<td>
								<%= song.song_number %>.
								<%= song.song_name %>
							</td>
						<% end %>
					</tr>
				</tbody>
			</table>
		</div>
		<% end %>
	</div>
</main>