<div class="nested-fields">
  <div class="field">
    <%= f.label :disc_number %>
    <br/>
    <%= f.text_field :disc_number %>
  </div>
  <div class="field">
    <%= f.check_box :done %>
    <%= f.label :done %>
  </div>
  <%= link_to_admin "remove disc", f %>
</div>