<main class="text-font clearfix">
	<!-- サクセスメッセージを表示する -->
	<% if flash[:notice] %>
		<p class="notice"><%= flash[:notice] %></p>
	<% end %>
	<!-- 注文内容確認欄 -->
	<div class="col-xs-12">
		<h2 class="order-title">購入内容の確認・変更</h2>
		<p class="order-text">
			「注文を確定する」ボタンを押してご注文いただくことで、商品をご注文されたことになります。<br>
			「注文を確定する」ボタンをクリックする前に、<u>配送料</u>と<u>注文合計</u>をご確認ください。
		</p>
	</div>
	<div class="order-item-box panel panel-primary box-shadow col-xs-7">
		<!-- 商品１ -->
		<% @sum = 0 %>
		<% @item_selects.each do |item_select| %>
			<% @sum += item_select.item.price * item_select.item_count %>
			<div class="order-item col-xs-12">
				<div class="order-item-image col-xs-3">
					<%= link_to user_item_path(item_select.item_id) do%>
						<%= attachment_image_tag item_select.item, :image, size: "120x120", fallback: "no_image.jpg" %>
					<% end %>
				</div>
				<div class="col-xs-9">
					<div class="item-text-area col-xs-12">
						<p class="order-item-name">「<%= item_select.item.item_name %>」</p>
						<table width="200">
							<tbody>
								<tr>
									<td align=right>アーティスト名：</td>
									<td align=right><% item_select.item.artist.artist_name %></td>
								</tr>
								<tr>
									<td align=right>単価：</td>
									<td align=right>¥ <%= number_with_delimiter(item_select.item.price, :delimiter => ",") %></td>
								</tr>
								<tr>
									<td align=right>数量：</td>
									<td align=right><%= number_with_delimiter(item_select.item_count, :delimiter => ",") %>
									</td>
								</tr>
							</tbody>
						</table>
						<p class ="item-payment">
							¥ <%= number_with_delimiter(item_select.item.price * item_select.item_count, :delimiter => ",") %>
						</p>
					</div>
				</div>
			</div>
		<% end %>
		<p class ="warning-font underline item-payment">
			合計金額： ¥ <%= number_with_delimiter(@sum, :delimiter => ",") %>（税込み）</u>
		</p>
	</div>

	<!-- 注文確定欄 -->
	<%= form_with model: [:user, @order] do |f| %>

	<div class="panel panel-primary box-shadow order-confirm-area col-xs-4">
			<%= f.submit "注文を確定する", class: "center btn btn-warning" %>
			<br><br>
			<p class="order-item-name">注文内容</p>
			<table width="200" class="order-payment-table">
				<tbody>
					<tr>
						<td align=right>商品の小計：</td>
						<td align=right>¥ <%= number_with_delimiter(@sum, :delimiter => ",") %></td>
					</tr>
					<tr>
						<td align=right>配送料：</td>
						<td align=right>¥ 500</td>
					</tr>
					<tr>
						<td align=right>合計：</td>
						<td align=right>¥ <%= number_with_delimiter(@sum + 500, :delimiter => ",") %>
						</td>
					</tr>
				</tbody>
			</table>
			<p class= "warning-font underline item-payment">
				注文合計：¥ <%= number_with_delimiter(@sum + 500, :delimiter => ",") %>（税込み）
			</p>
	</div>

	<!-- 配送住所選択 -->
	<div class="col-xs-12">
		<h2 class="order-title">配送住所選択</h2>
	</div>
	<div class="panel panel-primary box-shadow col-xs-7">
			<br>
			<% if session[:last_address] == nil %>
				<label class="radio-button"><%= f.radio_button :address_select, "0" , {:checked => true} %>
				 規定の住所に配送する</label>
				 <p class="form-control">規定の住所： <%= current_user.street_address %></p>
			<% else %>
				<label class="radio-button"><%= f.radio_button :address_select, "0" %>
				 規定の住所に配送する</label>
				 <p class="form-control">規定の住所： <%= current_user.street_address %></p>
			<% end %>
			<label class="radio-button"><%= f.radio_button :address_select, "1" %> 登録済みの住所から配送先を選択する</label><br>
            <%= f.collection_select :address_id, current_user.addresses, :id, :street_address,
                               {prompt: "配送先を選択"}, {class: "form-control"} %><br>
            <% if session[:last_address] == nil %>
				<label class="radio-button"><%= f.radio_button :address_select, "2" %> 配送先を新しく入力する</label><br>
			<% else %>
				<label class="radio-button"><%= f.radio_button :address_select, "2", {:checked => true} %> 配送先を新しく入力する</label><br>
			<% end %>
			<%= link_to "新規配送先入力ページへ", user_order_address_path, class: "btn btn-primary"  %><br>
			<br>
			<% if session[:last_address] == nil %>
				<p class="form-control"> 新規配送先：</p>
			<% else %>
				<p class="form-control"> 新規配送先：<%= session[:last_address] %></p>
			<% end %>
			<br>
	</div>

	<!-- 支払い方法選択 -->
	<div class="col-xs-12">
		<h2 class="order-title">支払い方法選択</h2>
	</div>
	<div class="panel panel-primary box-shadow order-payment-radio col-xs-7">
			<label class="radio-button"><%= f.radio_button :payment, "1", {:checked => true} %>銀行振込</label><br>
			<label class="radio-button"><%= f.radio_button :payment, "2" %>クレジット支払い</label><br>
			<label class="radio-button"><%= f.radio_button :payment, "3" %>代引き</label>
	</div>

	<% end %>

</main>