<main class = "col-xs-9">
	<h1>アーティスト登録</h1>
		<%= form_for(@artist, url: admin_artists_path) do |f| %>
			<br>
			<label>アーティスト名</label>
			<br>
			<%= f.text_field :artist_name %>
			<br>
			<br>
			<%= f.submit %>
			<% end %>
			        <div class ="field">
          <%= item.fields_for :discs do |disc| %>
          <div class="discs">
              <%= render 'disc_fields', f: disc %>
          <% end %>
            <div class="links">
              <%= link_to_add_association 'ディスク追加', item, :discs %>
            </div>
            <div class="actions">
              <%= item.submit %>
            </div>
          </div>
          <% end %>
        </div>
</main>