<main class="col-xs-9">
<h2>購入履歴</h2>

<%= form_for [:admin, @order] do |ord| %>
<div class="addmin-order-status-box">
	<table width="600">
		<tr>
			<th><%= @order.created_at.strftime("%Y-%m-%d")%></th>
			<th>発送ステータス:</th>
			<th><%= ord.select :delivery_status, [["受付中", 1], ["発送準備中", 2], ["発送済", 3]] %></th>
		</tr>
	</table>
</div>

<div class="container">
	<div class="row row-eq-height">
		<div class="col-xs-2">
			<div class="order-address-box">
				<h4>送付先</h4>
				<%= @order.order_last_name + '様' %><br>
				<%= @order.order_address %><br>
				<%= @order.order_postal_code %><br>
				<%= @order.order_phone_number %><br>
				<% if @order.payment == 1 %>
				<h5>支払い方法：銀行振込</h5>
				<% elsif @order.payment == 2 %>
				<h5>支払い方法：クレジット支払い</h5>
				<% else %>
				<h5>支払い方法：代引き</h5>
				<% end %>
			</div>
		</div>
		<div class="col-xs-7">
			<div class="order-item-box">
				<table width="600">
					<tr>
						<th colspan="2">商品</th>
						<th>単価</th>
						<th>個数</th>
						<th>小計</th>
					</tr>
					<% @order.order_item_histories.each do |his| %>
					<tr>
						<td><%= attachment_image_tag his, :image, :fill,100, 100, fallback: "no_image.jpg" %></td>
						<td><%= his.item_name %></td>
						<td><%= his.item_price%><%='円（税別）'%></td>
						<td><%= his.order_item_count %></td>
						<td><%= his.order_item_count * his.item_price %><%='円'%></td>
					</tr>
					<% end %>
				</table>
			</div>
		</div>
	</div>
	<button type="button" onclick="history.back()" class="btn btn-default">戻る</button>
	<%= ord.submit 'update user' %>
	<% end %>
	<div class="addmin-order-payment">
		<div class="user-delivery-pay">
			<p>送料：500円</p>
		</div>
		<p class="syoukei">小計：    </p>
		<div class="user-order-pay">
			<% @order.order_item_histories.each do |his| %>
			<%= his.item_price * his.order_item_count %><%='円'%><br>
			<% end %>
		</div>
		<div class="user-total-pay">
			<p>合計：<%= @order.total%><%='円'%></p>
		</div>
	</div>
	</div>

</div>
</main>