<!DOCTYPEhtml>
<head>
	<meta charset="utf-8">
	<title>ユーザー情報編集</title>
	<link rel="stylesheet" href="user/users.scss">
</head>
<body>
<main class="clearfix">
	<div class="container">
	<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h1>ユーザ情報編集</h1>
				<div class="user-form">
					<div class="text">
						<!-- [:user, @user] -->
						<%= form_for current_user do |f| %>
						<h2>名前（姓・名）</h2>
						<span><%= f.text_field :first_name, placeholder:"姓" %></span>
						<span><%= f.text_field :last_name, placeholder:"名" %></span>
						<h2>名前（カナ姓・カナ名）</h2>
						<span><%= f.text_field :first_name_katakana, placeholder:"セイ" %></span>
						<span><%= f.text_field :last_name_katakana, placeholder:"メイ" %></span>
						<h2>郵便番号</h2>
						<div><%= f.text_field :postal_code, placeholder:"郵便番号" %></div>
						<h2>住所</h2>
						<div><%= f.text_field :street_address, placeholder:"住所" %></div>
						<h2>電話番号</h2>
						<div><%= f.text_field :phone_number, placeholder:"電話番号" %></div>
						<h2>メールアドレス</h2>
						<div><%= f.text_field :email, placeholder:"メールアドレス" %></div>
						</div>
						<div class="pofile-btn">
							<%= link_to "back", mypage_path(current_user) %>
							<%= f.submit "プロフィール変更", class: "btn-btn primary" %>
						</div>
					<% end %>
					</div>
				</div>
			<div class="col-md-3"></div>
	</div>
	</div>
</main>
</body>