<!DOCTYPEhtml>
<head>
	<meta charset="utf-8">
	<title>ユーザー情報編集</title>
	<link rel="stylesheet" href="user/users.scss">
</head>
<body>
<main class="clearfix">
	<div class="container">
	<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h1>ユーザ情報編集</h1>
				<div class="user-form">
					<div class="text">
						<!-- [:user, @user] -->
						<%= form_for current_user do |f| %>
						<h3>♩ 名前（姓・名）</h3>
						<span><%= f.text_field :last_name, placeholder:"姓", class: "edit-space" %></span>
						<span><%= f.text_field :first_name, placeholder:"名", class: "edit-space" %></span>
						<h3>♪ 名前（カナ姓・カナ名）</h3>
						<span><%= f.text_field :last_name_katakana, placeholder:"セイ", class: "edit-space" %></span>
						<span><%= f.text_field :first_name_katakana, placeholder:"メイ", class: "edit-space" %></span>
						<h3>♬ 郵便番号</h3>
						<div><%= f.text_field :postal_code, placeholder:"郵便番号", class: "edit-space" %></div>
						<h3>♫ 住所</h3>
						<div><%= f.text_field :street_address, placeholder:"住所", class: "edit-space" %></div>
						<h3>＃ 電話番号</h3>
						<div><%= f.text_field :phone_number, placeholder:"電話番号", class: "edit-space" %></div>
						<h3>♭ メールアドレス</h3>
						<div><%= f.text_field :email, placeholder:"メールアドレス", class: "edit-space" %></div>
						</div>
						<div class="pofile-btn">
							<%= link_to "マイページへ", mypage_path(current_user), class: "btn btn-success" %>
							<%= f.submit "プロフィール変更", class: "btn btn-primary" %>
						</div>
					<% end %>
					</div>
				</div>
			<div class="col-md-3"></div>
	</div>
	</div>
</main>
</body>