<main>
	<div class="container">
	<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h1>ユーザ情報編集</h1>
				<div class="user-form">
					<div class="text">
						<!-- [:user, @user] -->
						<%= form_for current_user do |f| %>
						<h2>名前（姓・名）</h2>
						<span><%= f.text_field :last_name, placeholder:"姓 ※全角文字のみ" %></span>
						<span><%= f.text_field :first_name, placeholder:"名　※全角文字のみ" %></span>
						<h2>名前（カナ姓・カナ名）</h2>
						<span><%= f.text_field :last_name_katakana, placeholder:"セイ ※全角カタカナ" %></span>
						<span><%= f.text_field :first_name_katakana, placeholder:"メイ　※全角カタカナ" %></span>
						<h2>郵便番号</h2>
						<div><%= f.text_field :postal_code, placeholder:"半角数字　ハイフンなし" %></div>
						<h2>住所</h2>
						<div><%= f.text_field :street_address, placeholder:"東京都渋谷区神南１丁目１９−１１ パークウェースクエア2 4階" %></div>
						<h2>電話番号</h2>
						<div><%= f.text_field :phone_number, placeholder:"半角数字　ハイフンなし" %></div>
						<h2>メールアドレス</h2>
						<div><%= f.text_field :email, placeholder:"ECD's@ec.com" %></div>
						</div>
						<div class="pofile-btn">
							<%= link_to "戻る", mypage_path(current_user), class: "btn btn-default" %>
							<%= f.submit "保存	", class: "btn btn-default" %>
						</div>
					<% end %>
					</div>
				</div>

	</div>
	</div>
</main>