<!DOCTYPEhtml>
<head>
	<meta charset="utf-8">
	<title>マイページ</title>
	<link rel="stylesheet" href="user/users.scss">
</head>
<body>
<main class="clearfix">
	<div class="container">
		<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<span class="pofile">マイプロフィール</span>
					<span class="btn"><%= link_to "アドレス帳", user_addresses_path(@user.id), class: "btn btn-success" %></span>
					<span class="btn"><%= link_to "購入履歴", user_orders_path(@user.id), class: "btn btn-success" %></span>
					<!-- プロフィール内容 -->
					<div class="user-form">
						<div class="text">
							<h3>名前（姓・名）</h2>
							<div class="space"><%= @user.last_name %><%= @user.first_name %></div>
							<h3>名前（カナ姓・カナ名）</h2>
							<div class="space"><%= @user.last_name_katakana %><%= @user.first_name_katakana %></div>
							<h3>郵便番号</h2>
							<div class="space"><%= @user.postal_code %></div>
							<h3>住所</h2>
							<div class="space"><%= @user.street_address %></div>
							<h3>電話番号</h2>
							<div class="space"><%= @user.phone_number %></div>
							<h3>メールアドレス</h2>
							<div class="space"><%= @user.email %></div>
						</div>
						<div class="pofile-btn">
							<%= link_to "編集", mypage_edit_path(@user.id), class: "btn btn-danger" %>
							<%= link_to "戻る", root_path, class: "btn btn-default" %>
						</div>
					</div>
				</div>
				<div class="col-md-3"></div>
		</div>
	</div>
</main>
</body>