
<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>トップページ</title>
</head>

<div class="top-main">
	<div id="theTarget">
		<div class="image1"></div>
		<div class="image2"></div>
		<div class="image3"></div>
		<div class="image4"></div>
		<div class="image5"></div>
	</div>
	<% if flash[:notice] %>
		<p class="notice"><%= flash[:notice] %></p>
	<% end %>
	<h1 class="top-title">ECD's</h1>
	<div class="form-inline top-search-box">
		<%= form_tag user_items_path, method: :get do %>
		<%= select_tag 'select_id', options_for_select([["CD名","1"], ["アーティスト名","2"], ["曲名","3"]], :selected=>"1") %>
		<%= text_field_tag :keyword, '', placeholder: "キーワードで検索", class: "form-control", size: 70%>
		<%= submit_tag '検索' , :item_name => nil, class: "btn btn-success"%>
		<% end %>
	</div>
</div>
