<main class="col-xs-9">
	<% if flash[:notice] %>
		<%= flash[:notice] %>
	<% end %>
	<div class = "admin-users-area">
		<h1 class= "text-font admin-users-title">ユーザー一覧</h1>
		<table class ="table table-striped text-font">
			<thead>
				<tr>
					<th>ID</th>
					<th>ユーザー名</th>
					<th>退会フラグ</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td width=30% align="left"><%= user.id %></td>
						<td width=40% align="left"><%= link_to user.name, admin_user_path(user.id) %></td>
						<td width=30% align="left">
							<% if user.is_deleted == true %>
								<%= "有効" %>
							<% elsif user.is_deleted == false %>
								<%= "退会済み" %>
							<% else %>
								<%= "要確認" %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</main>