<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>トップページ</title>
	<link rel="stylesheet" type="text/scss" href="admin/users.scss">
</head>

<div class="container">
	<div class="col-lg-9">
		<h1><%=@user.name%>のマイページ</h1>
		<%= link_to '購入履歴', admin_order_path(@user.id), class: "btn btn-default"%>
		<div class="profile-box">
			<div class="profile-contents1">
				<h4>名前（姓・名）</h4>
				<%=@user.last_name%><%=@user.first_name%>
			</div>
			<div class="profile-contents2">
				<h4>名前（セイ・メイ）</h4>
				<%= @user.last_name_katakana%><%=@user.first_name_katakana%>
			</div>
			<div class="profile-contents3">
				<h4>郵便番号</h4>
				<%= @user.postal_code %>
			</div>
			<div class="profile-contents4">
				<h4>住所</h4>
				<%= @user.street_address %>
			</div>
			<div class="profile-contents5">
				<h4>電話番号</h4>
				<%= @user.phone_number %>
			</div>
			<div class="profile-contents6">
				<h4>メールアドレス</h4>
				<%= @user.email %>
			</div>
			<button type="button" onclick="history.back()" class="btn btn-default">戻る</button>
			<%= link_to '編集', edit_admin_user_path(@user.id), class: "btn btn-default" %>
		</div>
		<% if @user.is_deleted == true%>
		<%= link_to 'ユーザー情報を削除', admin_user_path(:id => @user.id, :is_deleted => 'false'), :method => :put %>
		<% else %>
		<%= link_to 'ユーザー情報を復元', admin_user_path(:id => @user.id, :is_deleted => 'true'), :method => :put %>
		<% end %>
	</div>
</div>
