<main class="col-xs-9 text-font">
	<div class="addmin-profile-box ">
		<h1><%=@user.name%>(さん)のマイページ</h1>
		<div class="profile-text">
			<h3>名前</h3>
			<div class="space"><%= @user.last_name %> <%= @user.first_name %></div>
			<h3>名前（カナ）</h3>
			<div class="space"><%= @user.last_name_katakana %> <%= @user.first_name_katakana %></div>
			<h3>郵便番号</h3>
			<div class="space"><%= @user.postal_code %></div>
			<h3>住所</h3>
			<div class="space"><%= @user.street_address %></div>
			<h3>電話番号</h3>
			<div class="space"><%= @user.phone_number %></div>
			<h3>メールアドレス</h3>
			<div class="space"><%= @user.email %></div>

			<div class="link-btn">
				<button type="button" onclick="history.back()" class="btn btn-default">戻る</button>
				<%= link_to '編集', edit_admin_user_path(@user.id), class: "btn btn-success" %>
				<%= link_to '購入履歴', admin_order_path(@user.id), class: "btn btn-success" %>
			</div>
		</div>
		<div class="user-infor-btn">
			<% if @user.is_deleted == true%>
			<%= link_to 'ユーザー情報を削除', admin_user_path(:id => @user.id, :is_deleted => 'false'), :method => :put , class: "btn btn-danger"%>
			<% else %>
			<%= link_to 'ユーザー情報を復元', admin_user_path(:id => @user.id, :is_deleted => 'true'), :method => :put , class: "btn btn-primary"%>
			<% end %>
		</div>
	</div>
</main>