<!-- Footer -->
<footer>

  <!-- Footer Links -->
  <div class="container text-center">

    <!-- Footer links -->
    <div class="row text-center">

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-7 col-xl-7 mx-auto mt-3">
        <h6 class="footer-text text-uppercase mb-4 font-weight-bold">コンセプト</h6>
        <p class="footer-text">音楽配信も盛んで、とても便利な世の中になりました。私もたまにダウンロードして音楽を楽しむことがあります。
          ですが、CDにはCDの良さがあり、そんなCDをこれからも世に普及させていきたいのです。CDはデータが圧縮されていないから音質が最高です。
          CDであればコレクションして楽しむこともでき、盤面のアートワークや歌詞カードの紙質なんかにも、アーティストのこだわりが随所に感じられます。
          手に入れて、封を開けて、プレイヤーに入れるまでのワクワク感は、CDならではのものですし、よりたくさんの人達にもCDの良さを知ってほしいと思っています。</p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-5 col-xl-5 mx-auto mt-3">
        <h6 class="footer-text text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p class="footer-text">
          <%= fa_icon("home") %></i> 長野県飯田市音楽町1-23-34</p>
        <p class="footer-text">
          <%= fa_icon("envelope") %></i> ECDs@gmail.com</p>
        <p class="footer-text">
          <%= fa_icon("phone") %></i> + 01 234 567 88</p>
        <p class="footer-text">
          <%= fa_icon("print") %></i> + 01 234 567 89</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <li class="icon-list">
      <%= fa_icon("facebook") %>
    </li>
    <li class="icon-list">
      <%= fa_icon("twitter") %>
    </li>
    <li class="icon-list">
      <%= fa_icon("google-plus") %>
    </li>
    <li class="icon-list">
      <%= fa_icon("instagram") %>
    </li>

  </div>
  <!-- Footer Links -->

  <!--Copyright-->
   <div class="copyright-area">
    <p class="copyright-text text-center">© 2019 Copyright:
      <strong>ECD's by 4D's</strong>
    </p>
  </div>

</footer>
<!-- Footer -->

