<!-- ヘッダー -->
  <header>
    <!-- ロゴ -->
    <div class="col-xs-2">
      <div class="logo-area">
        logo
      </div>
    </div>
    <!-- 検索バー -->
    <div class="col-xs-10">
      <p class="welcome-text">ようこそ、guestさん！！</p>
      <div class="search-form-box"></div>
      <div class="search-box">
        <p>商品検索</p>
      </div>
    </div>
    <!-- ナビゲーションメニュー  -->
    <div class="nav-menu col-xs-12">
      <% if user_signed_in? %>
        <li class="nav-list-item">
          <%= link_to "会員登録", new_user_registration_path, class: "link-decoration" %>
        </li>
        <li class="nav-list-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link-decoration" %>
        </li>
        <li class="nav-list-item">
          <%= link_to "商品一覧", user_items_path, class: "link-decoration" %>
        </li>
        <li class="nav-list-item">
          <%= link_to "カート", user_item_selects_path, class: "link-decoration" %>
        </li>
        <li class="nav-list-item">
          <%= link_to "マイページ", mypage_path, class: "link-decoration" %>
        </li>
      <% else %>
        <li class="nav-list-item">
          <%= link_to "会員登録", new_user_registration_path, class: "link-decoration" %>
        </li>
        <li class="nav-list-item">
          <%= link_to "ログイン", new_user_session_path, class: "link-decoration" %>
        </li>
        <li class="nav-list-item">
          <%= link_to "商品一覧", user_items_path, class: "link-decoration" %>
        </li>
        <li class="nav-list-item">
          <%= link_to "カート", user_item_selects_path, class: "link-decoration" %>
        </li>
        <li class="nav-list-item">
          <%= link_to "マイページ", mypage_path, class: "link-decoration" %>
        </li>
      <% end %>
    </div>

  </header>