<!DOCTYPE html>
<html>
  <head>
    <title>ECDs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- URLから表示するヘッダー、サイドバーを判断する -->
  <% if request.fullpath.index('/admin') %>
    <% if request.fullpath.index('/administrators/') %>
      <%= render 'layouts/administrator_header' %>
    <% else %>
      <%= render 'layouts/administrator_header' %>
      <%= render 'layouts/administrator_sidebar' %>
    <% end %>
  <% else %>
    <%= render 'layouts/user_header' %>
  <% end %>

  <body>
    <main>
    <%= yield %>
    </main>
  </body>

  <footer class="col-xs-12">
    <p class="footer-text">©️ 2019, ECD's by 4D's</p>
  </footer>

</html>
