<!DOCTYPE html>
<html>
  <head>
    <title>ECDs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- URLから表示するヘッダー、サイドバーを判断する -->
  <% if request.fullpath.index('/admin') %>
    <%= render 'layouts/administrator_header' %>
  <% else %>
    <%= render 'layouts/user_header' %>
  <% end %>

  <body>
    <% if request.fullpath.index('/admin') %>
      <main class="clearfix">
        <% if request.fullpath.index('/administrators/') %>
        <% else %>
          <%= render 'layouts/administrator_sidebar' %>
        <% end %>
        <%= yield %>
      </main>
    <% else %>
      <%= yield %>
    <% end %>
  </body>

  <footer>
  <%= render 'layouts/footer' %>
  </footer>

</html>
