<!DOCTYPE html>
<html>
  <head>
    <title>ECDs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if user_signed_in? %>
    <%= render 'layouts/user_header' %>
  <% elsif administrator_signed_in? %>
    <%= render 'layouts/administrator_header' %>
    <%= render 'layouts/administrator_sidebar' %>
  <% else %>
    <%= render 'layouts/user_header' %>
  <% end %>

  <body>
    <%= yield %>
  </body>

</html>
